#your-items{
    background-color: white;
    box-shadow: 1px 1px 25px #e1e1e125;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 35px;
    padding-bottom: 30px;
    border-radius: 15px;
    margin-top: 30px;
}

#your-items-heading{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 35px;
}

#your-items-qty{
    font-weight: 600;
    font-size: 16px;
}

#your-items-title{
    font-weight: 600;
    font-size: 16px;
}

#your-items-description{
    font-size: 15.5px;
    line-height: 1.5;
    opacity: 0.9;
    margin-top: -5px;
    margin-bottom: 0px;
}

#your-items-price{
    font-weight: 600;
    font-size: 16px;
    text-align: right;
}

#your-items-devider{
    color: #c5c5c5;
}

.your-items-summary-section{
    margin-top: 30px;
}

#your-items-sub-total-title{
    font-size: 17px;
    font-weight: 500;
}

#your-items-sub-total-price{
    font-size: 16px;
    font-weight: 500;
    text-align: right;
}

#your-items-delivery-fee-title{
    font-size: 17px;
    font-weight: 500;
}

#your-items-delivery-price{
    font-size: 16px;
    font-weight: 500;
    text-align: right;
}

#your-items-full-amount-title{
    font-size: 17px;
    font-weight: 600;
}

#your-items-full-amount-price{
    font-size: 16px;
    font-weight: 600;
    text-align: right;
}

.checkout-btn{
    background-color: #323335;
    height: 60px;
    width: 100%;
    border-radius: 12px;
    margin-top: 40px;
}
.checkout-btn p{
    text-decoration: none;
    text-shadow: none;
    color: white;
    padding-top: 10px;
    font-weight: 500;
    font-size: 16px;
}