/*  light 300
    Regular 400 
    Medium 500
    Semi-bold 600
    Bold 700
*/

#sign-in-text{
    font-family: Poppins;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    margin-top: 25vh;
    margin-bottom: 65px;
}

.custom-label{
    font-family: Poppins;
}

.custom-input{
    /* box-shadow: none; */
    border: none;
    height: 57px;
    border-radius: 12px;
    width: 97%;
    padding-top: 12px;
    box-shadow: 1px 1px 25px #e1e1e125;
}

::-webkit-input-placeholder { 
    font-family: Poppins;
    padding-left: 12px;
}

.ui-focus {
    -webkit-box-shadow: none !important;
}

.login-btn{
    background-color: #323335;
    width: 97%;
    border-radius: 12px;
    height: 54px;
    margin-top: 42px;
}

.login-btn p{
    font-size: 15px;
    padding-top: 9px;
    text-decoration: none;
    color: white;
    font-family: Poppins;
    font-weight: 300;
    letter-spacing: 1.0px;
}

#register-button{
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    color: black;
    text-align: center;
    margin-top: 25px;
}

#login-form{
    
}