/*  light 300
    Regular 400 
    Medium 500
    Semi-bold 600
    Bold 700
*/


/* Home screen styles */
.navbar{
    background-color: rgb(175, 175, 175);
    width: 100%;
}

navbar-toggler{
    width: 5%;
}

.topnav {
    overflow: hidden;
    background-color: #F9F9F9;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
  
.topnav a {
    float: left;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 500;
}

.topnav p{
    color: black;
    text-decoration: none;
    margin-bottom: -5px;
}
  
.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }   
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
      font-family: Poppins;
      font-weight: 500;
    }
}

#carousel{
    position: absolute;
    margin-left: -35px;
    width: 110%;
}

.banner-img{
    width: 100%;
}

.trending-picks{
    padding-top: 260px;
}

#menu-body{
    margin-top: 40px;
}

.trending-picks-txt{
    font-weight: 600;
    font-style: 21px;
}
.see-all-txt{
    text-align: right;
    font-style: 15px;
    font-weight: 500;
}

.first-food-card{
    margin-top: 20px;
}

.food-card{
    background-color:white;
    border-radius: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: 1px 1px 25px #e1e1e125;
}

.card-img{
    width: 100%;
}

.food-details{
    padding-top: 12px;
}

#food-title{
    font-size: 14px; 
    font-weight: 600;
    line-height: 1.4;
}
#food-description{
    margin-top: -11px;
    font-size: 12px;
    font-weight: 500;
}
#food-ratings{
    margin-top: -11px;
    font-size: 12px;
}
#food-price{
    margin-top: -8px;
    font-size: 14px;
    font-weight: 500;
}



