/*  light 300
    Regular 400 
    Medium 500
    Semi-bold 600
    Bold 700
*/


/* Home screen styles */
.navbar{
    background-color: rgb(175, 175, 175);
    width: 100%;
}

.nav-img{
    width: 25%;
    margin-left: 2px;
}

.navbar-nav{
    text-align: center;
    font-weight: 600;
    color: #323335;
    font-size: 16px;
}

#welcome-text{
    font-weight: 600;
    font-size: 20px;
    color: #323335;
}

#carousel{
    width: 112%;
    position:absolute;
    left: -22px;
    margin-top: -25px;
}

.banner-img{
    width: 100%;
}

.trending-picks{
    padding-top: 250px;
}

#menu-body{
    margin-top: 40px;
}

.trending-picks-txt{
    font-weight: 600;
    font-size: 20px;
}
.see-all-txt{
    text-align: right;
    font-style: 15px;
    font-weight: 500;
}

#trending-picks{
    margin-top: 25px;
}

.food-card{
    background-color:white;
    border-radius: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: 1px 1px 25px #e1e1e125;
    margin-top: 12px;
}

.card-img{
    width: 100%;
}

.food-details{
    padding-top: 12px;
}

#food-title{
    font-size: 15px;
    font-weight: 600;
    text-shadow: none;
    line-height: 1.4;
    text-decoration: none;
    color: #323335; /* for browsers that don't support 'inherit' as a color value */
    color: inherit;
}

#food-description{
    margin-top: -11px;
    font-size: 13px;
    font-weight: 500;
}
#food-ratings{
    margin-top: -11px;
    font-size: 12px;
}
#food-price{
    margin-top: -8px;
    font-size: 14px;
    font-weight: 500;
}

input[type=checkbox]{
    width: 1px;
    height: 1px;
    margin-top: 14px;
    margin-left: -12px;
}

#new-heart-icon{
    margin-top: 0px;
    margin-left: -12px;
    font-size: 19px;
}

label {
    color: grey;
}

input:checked + label
{
	color: red;
    animation: grow .5s;
    animation-timing-function: cubic-bezier(.21, .61, .35, 1);
}


  

  


